# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Node
node_modules/

# Local dev
*.log

# Local Netlify folder
.netlify

# Build artifacts
# Environment variables
.env

# Scratch and other files
scratch/
supabase_schema.sql
